/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu-principal,
#productos,
#carrito,
#formulario-compra,
#mensaje {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    color: #000;
}

.btn-outline-secondary {
    border: 1px solid #6c757d;
    color: #6c757d;
    background-color: transparent;
}

.producto-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.producto-imagen {
    max-width: 100%;
    height: auto;
}

.btn-container {
    margin-top: 20px;
}


.total {
    font-weight: bold;
}
